* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    background-color: black;
    height: 60px;
    display: flex;
}

select {
    border: none;
}

#navbar-logo {
    height: 60px;
    width: 133px;
    border: 1.5px solid transparent;
    display: flex;
    justify-content: center;
    text-align: center;
}

#logo {
    height: 60px;
    background-image: url("amazon_logo.png");
    width: 100px;
    background-size: cover;
}

#navbar-logo:hover {
    border: 1.5px solid white;
    border-radius: 5px;
}

#aad {
    display: flex;
}

#address {
    margin-top: 12px;
    margin-left: 25px;
    border: 1.5px solid transparent;
    width: 70px;
}

#address:hover {
    border-radius: 5px;
    border: 1.5px solid white;
}

#search {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border: 2px solid transparent;
}

#search:hover{
    border: 2px solid  rgba(255, 153, 0, 255);
    border-radius: 7px;
}
input {
    width: 1000px;
    font-size: 15px;
    border: none;
    padding: 10px;
}

#stt {
    background-color: rgba(230, 230, 230, 255);
    text-align: center;
    width: 55px;
    height: 36px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
    appearance: none;
    transition: all 0.2s ease-in;
}

#scal {
    width: 45px;
    height: 36px;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgba(255, 153, 0, 255);
    transition: transform 0.5s ease;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

#scal:active {
    background-color: bisque;
}

#stt:active {
    background-color: rgba(200, 200, 200, 255);
}

#scal:hover {
    transform: scale(1.1);
}

#stt:hover {
    background-color: rgba(200, 200, 200, 255);
}

#lang {
    display: flex;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-right: 9px;
    margin-top: 20px;
}

#langdrop {
    background-color: rgba(167, 172, 178, 255);
    text-align: center;
    font-size: 11px;
    width: 38px;
    height: 23px;
    border-radius: 4px;
    border: none;
    transition: all 0.2s ease-in;
}

#langdrop:hover {
    background-color: rgba(200, 200, 200, 255);
}

#sign {
    margin-top: 10px;
    margin-left: 30px;
}

#acc {
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

#sign6 {
    margin-top: 10px;
    margin-left: 30px;
}

#acc6 {
    background-color: black;
    color: white;
    font-weight: bolder;
    font-size: 15px;
}

#cart {
    display: flex;
    margin-top: 16px;
    margin-left: 30px;
    font-size: 25px;
}

#carttext {
    margin-top: 12px;
    font-size: 15px;
    font-weight: bolder;
}

#box5 {
    border: 1.5px solid transparent;
}

#box5:hover {
    border-radius: 5px;
    border: 1.5px solid white;
}

#box6 {
    border: 1.5px solid transparent;
}

#box6:hover {
    border-radius: 5px;
    border: 1px solid white;
}

.all{
    display: flex;
}
.all p:hover{
    text-decoration: underline;
}
.panel-ops{
    display: flex;
    width: 80%;
    font-size: 14px;
    font-family: inherit;
}
.panel-shop:hover{
    text-decoration: underline;
}

.panel-ops a {
    margin-left: 20px;
}

.panels{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.all{
    gap: 5px;
}

.panel-shop{
    font-size: 18px;
    font-family: inherit;
    font-weight: 600;
}


.hero-sec{
    background-image: url("hero_image.jpg");
    height: 600px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    width: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-bottom: 30px;
    border-radius: 6px;
}

.hero-msg a{
    text-decoration: none;
    color: #007185;
}


#shop{
    display: flex;
    justify-content: space-evenly;
    background-color:  #e2e7e6;
    flex-wrap: wrap;
}

.box{
    border: 2px solid black;
    height :500px;  
    width: 23%; 
    background-color: white;
    padding: 20px 0px 15px;
    border: none;
    margin-top: 20px;
}

.boxim{
    margin-top: 1.1rem;
    height: 430px;
}

.box-con{
    margin-left: 20px;
    margin-right: 20px;
    border: none;
}
.box-con p{
    color: #007185;
    margin-top: 13px;
}

.foot-pan1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #37475a;
    color: white;
}


.foot-pan2{
    height: 400px;
    width: 1200px;
    background-color: #232f3e;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: rgba(204,204,204,255);
    display: block;
    margin-top: 9px;
    margin-bottom: 9px;
}

.foot-pan2 p {
    color: white;
}

ul{
    margin-top: 60px;
}
a:hover{
    text-decoration: underline;
}

.full_foot{
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #232f3e;
}

.foot_pan3{
    background-color: #222f3d;
    border-top: 0.5px solid whitesmoke;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.pages{
    justify-content: center;
    align-items: center;
    display: flex;
}
.copyright{
    justify-content: center;
    align-items: center;
    display: flex;
    color: #e2e7e6;
}
.foot_pan4{
    background-color: #222f3d;
    height: 70px;
}
.box-con a:hover{
    transform: scale(1.05);
}

.box-con a{
    transition: transform 0.3s ease;

}